@define-color foreground #ffffff;
@define-color background #1a1a26;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;

  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: 600;

  min-height: 24px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#clock {
  font-size: 15px;
  padding: 4px 0;
}

#workspaces button {
  all: initial;
  padding: 0px 8px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray {
  padding: 4px 8px;
}

#bluetooth {
  font-size: 16px;
  padding: 0 12px;
}

#network {
  font-size: 16px;
  padding: 0px 14px 0px 10px;
}

#pulseaudio {
  font-size: 13px;
  padding: 0px 8px;
}

#custom-expand-icon {
  padding: 0px 8px;
  font-size: 14px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
